$bg-header: linear-gradient(45deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
$bg-white: #fff;
$bg-team: #f4f5f6;
$bg-footer: #1e212c;
$btn-red: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
$btn-opacity: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
// ---------------------------------------------------------------- 
$white: #fff;
$secondary: #ffcf2d;
$success: #03cea4;
$primary: #FF3F3A;
$primar-op: rgba(255, 63, 56, 0.12);
$danger: #ff4242;
$warning: #f89828;
$info: #5a87fc;
$gray-900: #1e212c;
$gray-800: #424551;
$gray-700: #787a80;
$gray-600: #9a9ca5;
$gray-500: #b3b7bc;
$gray-400: #d7dadd;
$gray-300: #e5e8ed;
$gray-200: #f4f5f6;
// ----------------------------------------------------------------
@mixin flex($jc, $ai) {
  display: flex;
  // flex-wrap: wrap;
  justify-content: $jc;
  align-items: $ai;
}

.button{
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 52px;
  border-radius: 4px;
  padding: 0px 40px;
  font-size: 16px;
  background: $btn-red;
  color: $white;
  white-space: nowrap;
}


.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container{
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  color: $gray-800;
  line-height: 160%;
}



.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.heading {  
  color: $gray-900;
}
.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}